body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  color: #444;
  margin-bottom: 20px;
}

input {
  width: 300px;
  padding: 10px;
  margin: 10px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button#searchButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button#searchButton:hover {
  background-color: #0056b3;
}

ul#results {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  width: 80%;
  max-width: 600px;
}

ul#results li {
  background-color: #fff;
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

ul#results li:last-child {
  font-weight: bold;
  background-color: #f8f9fa;
  border-color: #ccc;
}


#footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 0.9rem;
    color: #666;
    background-color: #f4f4f9;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
